<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992702129785-2ajr8uvu121lbnnvl5u7erubb2htdaot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992702129785-2ajr8uvu121lbnnvl5u7erubb2htdaot</string>
	<key>API_KEY</key>
	<string>AIzaSyDl5VJVB2nGQEeaKOYZ3UswPjhPKHoMar4</string>
	<key>GCM_SENDER_ID</key>
	<string>992702129785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.opexq</string>
	<key>PROJECT_ID</key>
	<string>opex-b293f</string>
	<key>STORAGE_BUCKET</key>
	<string>opex-b293f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992702129785:ios:958e68c597c289763b16a8</string>
	<key>DATABASE_URL</key>
	<string>https://opex-b293f.firebaseio.com</string>
</dict>
</plist>